<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587743645909-ccvm054g4rn1fb21h1m5hbegsf25f491.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587743645909-ccvm054g4rn1fb21h1m5hbegsf25f491</string>
	<key>API_KEY</key>
	<string>AIzaSyDqVj4voNpX_Zo3jLAokPf4bmNEGVpV0R0</string>
	<key>GCM_SENDER_ID</key>
	<string>587743645909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jo.Sos</string>
	<key>PROJECT_ID</key>
	<string>sosapp-7a8db</string>
	<key>STORAGE_BUCKET</key>
	<string>sosapp-7a8db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587743645909:ios:8bc8949416892788b2d25c</string>
</dict>
</plist>